.container-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-row {
  display: flex;
  justify-content: space-between;
  width: 80%;
  /* Ajusta este valor para controlar el ancho total de los contenedores */
  margin-bottom: 30px;
  /* Espacio entre las filas */
}

.card-product {
  flex: 0 1 calc(50% - 10px);
  /* Tamaño flexible con espacio entre cartas */
  box-sizing: border-box;
}

.reservar-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s ease;
}

.reservar-btn:hover {
  background-color: #45a049;
}