body {
    background-image: url(https://a0.muscache.com/im/pictures/c880c2f8-e15c-48dd-b6cb-d756ea3c51f9.jpg?im_w=720);
    background-size: cover;
    height: 100vh;
  }
  .page-title-box h1 {
    text-align: center;
    font-size: 3rem; /* Tamaño de fuente más grande para el título principal */
  }
  
  .noticia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255);
    margin-top: 20px;
    background-color: rgba(144, 144, 144, 0.4); /* Fondo del recuadro */
  }
  
  .noticia-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  
  .noticia-titulo h1 {
    font-size: 2.5rem; /* Tamaño de fuente más grande para el título */
  }
  
  .noticia-fecha {
    font-style: italic;
    margin-bottom: 20px;
  }
  
  .noticia-cuerpo {
    line-height: 35px;
    font-size: 30px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }