/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo general del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Contenedor principal */
.content-page {
    background-image:url(https://www.conservamos.com/images/aseo-en-propiedad-horizontal/servicio-aseo-en-conjuntos-1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Contenedor del contenido */
.content {
    width: 100%;
    max-width: 800px;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    box-shadow: 0 0 10px rgba(17, 0, 255, 0.6);
    border-radius: 10px;
}

/* Título de la página */
.page-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #007bff;
    text-align: center;
}

/* Contenedor del formulario */
.containerr {
    display: flex;
    flex-direction: column;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin: 10px 0 5px;
    font-weight: bold;
}

form input[type="text"],
form input[list] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form datalist {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Botones */
.button,
.styled-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover,
.styled-button:hover {
    background-color: #0056b3;
}

.styled-button {
    background-color: #6c757d;
}

.styled-button:hover {
    background-color: #5a6268;
}